
.info {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.subhead {
    font-size:35px;
    font-family:futura;
    color:rgb(46, 46, 46);
    font-weight:600;
    padding-top:30px;
}

.description {
    font-size:28px;
    font-family:futura;
    padding-top:30px;
    margin-left:20px;
    margin-right:20px;
    line-height: 1.5;
}

.hamster_in_jail {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding-top: 20px;
}

#footer {
    display:flex;
}

.footer_cat {
    position:fixed;
    left:40px;
    bottom:14px;
}

.footer_home {
    position:fixed;
    right:0;
    bottom:-11px;
}

.footer_btn {
    cursor:pointer;
}
