body, html {
    margin:0;
    padding:0;
    background-color:lightblue;
}

.info {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.subhead {
    font-size:25px;
    font-family:futura;
    color:rgb(46, 46, 46);
    font-weight:600;
    padding-top:30px;
}

.description {
    font-size:20px;
    font-family:futura;
    padding-top:10px;
    line-height: 1.2;
}

.jail_cells {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding:20px;
}

#footer {
    display:flex;
}

.footer_cat {
    position:fixed;
    left:40px;
    bottom:14px;
}

.footer_hamster {
    display: block;
    position: fixed;
    right: 0;
    bottom: 5px;
    cursor: pointer;
}

#hamster {
    width:100px;
    height:100px;
}
