body, html {
    margin:0;
    padding:0;
    background-color:lightblue;
}

/* Home page content start */

.home_quote {
    font-size: 60px;
    display: flex;
    position: static;
    justify-content: center;
    padding: 0px;
    margin: 13px;
    font-family: Futura;
}
.main {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.main_cat {
    width: 310px;
    height: 100%;
    padding: 25px;
}

.start_button {
    position:relative;
    width: 300px;
    opacity: 80%;
    bottom:105px;
    cursor:pointer;
}

.start_button:hover {
    opacity: 100%;
}

/* Home page content end */