body, html {
    margin:0;
    padding:0;
}

.cyn_header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #0382C6;
    height:11vh;
}

.cyn_header_title {
    font-size:30px;
    font-family:Futura;
    font-weight:bold;
    color:white;
    position: fixed;
    align-items: center;
}

.material-icons {
    font-weight:bold;
    font-size:40px;
    color:white;
    position: absolute;
    padding:10px;
    right:0;
    cursor:pointer;
}

.cyn_nav {
    position:absolute;
    right:0;
    opacity:0;
    background-color: #0382C6;
    transition: opacity 0.1s;
}

.cyn_nav_close {
    border: 3px solid #073F9A;
    border-radius: 7px;
    position:absolute;
    right: 10px;
    width:30px;
    height:30px;
    cursor:pointer;
}

.cyn_nav_close_btn {
    width:23px;
    height:23px;
    margin-top:3.5px;
    margin-left:3.5px;
}

.cyn_nav_sub {
    font-size:20px;
    font-family:futura;
    font-weight:600;
    line-height:1.5;
    color:white;
    margin-top:40px;
    padding:15px;
    cursor:pointer;
}