body, html {
    background-color: lightblue;
}

.info {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.subhead {
    font-size:35px;
    font-family:futura;
    color:rgb(46, 46, 46);
    font-weight:600;
    padding-top:30px;
    display:block;
}

.description {
    font-size:30px;
    font-family:futura;
    padding-top:10px;
    margin-left:20px;
    margin-right:20px;
    line-height:1.5;
}

.main_img {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.img_content {
    position: relative;
}

.rooms {
    cursor:pointer;
    width:115px;
}

#room_1 {
    position:absolute;
    bottom:239px;
    left:134px;
    display:block;
}

#room_2 {
    position:absolute;
    bottom:125px;
    left:71px;
    display:block;
}

#room_3 {
    position:absolute;
    bottom:126px;
    left:200px;
    display:block;
}

#room_4 {
    position:absolute;
    bottom:16px;
    left:71px;
    display:block;
}

#room_5 {
    position:absolute;
    bottom:16px;
    left:200px;
    display:block;
}

.selection {
    position:absolute;
    right:25px;
    top:17px;
    cursor:pointer;
    width:65px;
    height:65px;
}

.footer_btn2 {
    position:fixed;
    right:0;
    bottom:-11px;
    cursor:pointer;
}