#footer {
    display:flex;
}

.footer_cat {
    position:fixed;
    left:40px;
    bottom:14px;
}

.footer_btn {
    display:block;
    position:fixed;
    right:0;
    bottom:-11px;
    cursor:pointer;
}
